.loginContainer {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-top: 300px;
   
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup input {
    width: 60%;
    padding: 8px;
    margin-bottom: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    height: 50px;
    transition: border 0.3s;
}

.formGroup input:focus {
    border-color: #ff6b6b;
    outline: none; 
}

.error {
    color: red;
    font-size: 0.8em;
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d9534f;
    color: white;
    font-size: 1em;
    cursor: pointer; 
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c9302c; 
}

a {
    color: #d9534f;
}

.LoginImage {
    margin-top: 50px;
}

.heading {
    color: #4a4a4a; 
}

@media (max-width: 768px) {
    .loginContainer {
        margin-top: 50px; 
        padding: 15px; 
    }

    .formGroup input {
        width: 90%; 
    }

    button {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .loginContainer {
        margin-top: 30px; 
    }

    .formGroup input {
        font-size: 0.9em; 
    }

    button {
        font-size: 0.9em; 
    }
}
